<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://activemq.apache.org/schema/core
       http://activemq.apache.org/schema/core/activemq-core.xsd">

    <!--==========================eventBus相关==============================-->
    <!--AsyncEventBus-->
    <bean id="asyncService" class="com.rishiqing.qywx.service.event.service.impl.AsyncServiceImpl"/>
    <bean id="asyncFetchCorpAllExecutorFactory" class="com.rishiqing.qywx.service.event.executor.AsyncFetchCorpAllExecutorFactory" />
    <bean id="asyncFetchCorpAllExecutor" factory-bean="asyncFetchCorpAllExecutorFactory" factory-method="getFetchCorpAllExecutor" />
    <bean id="asyncFetchCorpAllEventBus" class="com.google.common.eventbus.AsyncEventBus">
        <constructor-arg ref="asyncFetchCorpAllExecutor" />
    </bean>
    <bean id="fetchCorpAllListener" class="com.rishiqing.qywx.service.event.listener.FetchCorpAllListener" />

    <!--<bean id="demoExecutorFactory" class="com.rishiqing.qywx.service.demo.event.DemoExecutorFactory" />-->
    <!--<bean id="demoExecutor" factory-bean="demoExecutorFactory" factory-method="getFetchCorpAllExecutor" />-->
    <!--<bean id="demoEventBus" class="com.google.common.eventbus.AsyncEventBus">-->
    <!--<constructor-arg ref="demoExecutor" />-->
    <!--</bean>-->
    <!--<bean id="demoListener" class="com.rishiqing.qywx.service.demo.event.DemoListener" />-->

    <bean id="eventBusInitService" class="com.rishiqing.qywx.service.event.service.impl.EventBusInitServiceImpl"
          init-method="register">
        <property name="eventMap">
            <map>
                <entry key-ref="asyncFetchCorpAllEventBus" value-ref="fetchCorpAllListener" />
                <!--<entry key-ref="demoEventBus" value-ref="demoListener" />-->
            </map>
        </property>
    </bean>

    <!--==========================activemq相关==============================-->
    <!--activemq-->
    <amq:connectionFactory id="amqConnectionFactory"
                           brokerURL="failover:(tcp://${amq.broker.url1},tcp://${amq.broker.url2})?randomize=false&amp;jms.useAsyncSend=true"
                           userName="${amq.username}"
                           password="${amq.password}" />
    <bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <constructor-arg ref="amqConnectionFactory" />
        <property name="sessionCacheSize" value="100" />
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <constructor-arg ref="connectionFactory" />
    </bean>

    <!--&lt;!&ndash;测试queue&ndash;&gt;-->
    <!--<amq:queue id="demoQueue" physicalName="qywx.demo.queue" />-->
    <!--<bean id="demoMqListener" class="com.rishiqing.qywx.service.event.listener.mq.DemoMqListener" />-->
    <!--<bean id="demoJmsContainer"-->
          <!--class="org.springframework.jms.listener.DefaultMessageListenerContainer">-->
        <!--<property name="connectionFactory" ref="connectionFactory" />-->
        <!--<property name="destination" ref="demoQueue" />-->
        <!--<property name="messageListener" ref="demoMqListener" />-->
    <!--</bean>-->

    <!--&lt;!&ndash;企业同步到日事清所有组织结构的listener&ndash;&gt;-->
    <!--<amq:queue id="pushCorpAllQueue" physicalName="qywx.push.corpAll" />-->
    <!--<bean id="pushCorpAllMqListener" class="com.rishiqing.qywx.service.event.listener.mq.PushCorpAllMqListener" />-->
    <!--<bean id="pushCorpAllMqContainer"-->
          <!--class="org.springframework.jms.listener.DefaultMessageListenerContainer">-->
        <!--<property name="connectionFactory" ref="connectionFactory" />-->
        <!--<property name="destination" ref="pushCorpAllQueue" />-->
        <!--<property name="messageListener" ref="pushCorpAllMqListener" />-->
    <!--</bean>-->

    <!--&lt;!&ndash;企业同步到日事清corp回调的listener&ndash;&gt;-->
    <!--<amq:queue id="pushCorpCallbackQueue" physicalName="qywx..corpCallback" />-->
    <!--<bean id="pushCorpCallbackMqListener" class="com.rishiqing.qywx.service.event.listener.mq.PushCorpCallbackMqListener" />-->
    <!--<bean id="pushCorpCallbackMqContainer"-->
          <!--class="org.springframework.jms.listener.DefaultMessageListenerContainer">-->
        <!--<property name="connectionFactory" ref="connectionFactory" />-->
        <!--<property name="destination" ref="pushCorpCallbackQueue" />-->
        <!--<property name="messageListener" ref="pushCorpCallbackMqListener" />-->
    <!--</bean>-->
</beans>