<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--全局缓存的suite-->
    <bean id="suite" class="com.rishiqing.qywx.service.common.isv.GlobalSuite" init-method="init"/>
    <!--基础service-->
    <bean id="isvManageService" class="com.rishiqing.qywx.service.common.isv.impl.IsvManageServiceImpl" />
    <bean id="suiteManageService" class="com.rishiqing.qywx.service.common.isv.impl.SuiteManageServiceImpl" />
    <bean id="suiteTicketManageService" class="com.rishiqing.qywx.service.common.isv.impl.SuiteTicketManageServiceImpl" />
    <bean id="suiteTokenManageService" class="com.rishiqing.qywx.service.common.isv.impl.SuiteTokenManageServiceImpl" />
    <bean id="suitePreAuthCodeManageService" class="com.rishiqing.qywx.service.common.isv.impl.SuitePreAuthCodeManageServiceImpl" />
    <bean id="appManageService" class="com.rishiqing.qywx.service.common.isv.impl.AppManageServiceImpl" />
    <bean id="corpManageService" class="com.rishiqing.qywx.service.common.corp.impl.CorpManageServiceImpl" />
    <bean id="corpDeptManageService" class="com.rishiqing.qywx.service.common.corp.impl.CorpDeptManageServiceImpl" />
    <bean id="corpStaffManageService" class="com.rishiqing.qywx.service.common.corp.impl.CorpStaffManageServiceImpl" />
    <bean id="corpTagManageService" class="com.rishiqing.qywx.service.common.corp.impl.CorpTagManageServiceImpl" />
    <bean id="corpSuiteManageService" class="com.rishiqing.qywx.service.common.corp.impl.CorpSuiteManageServiceImpl" />
    <bean id="corpAppManageService" class="com.rishiqing.qywx.service.common.corp.impl.CorpAppManageServiceImpl" />
    <bean id="corpTokenManageService" class="com.rishiqing.qywx.service.common.corp.impl.CorpTokenManageServiceImpl" />
    <bean id="corpJsapiTicketManageService" class="com.rishiqing.qywx.service.common.corp.impl.CorpJsapiTicketManageServiceImpl" />
    <bean id="rsqInfoManageService" class="com.rishiqing.qywx.service.common.rsq.impl.RsqInfoManageServiceImpl" />
    <bean id="sendMessageService" class="com.rishiqing.qywx.service.common.message.impl.SendMessageServiceImpl" />
    <bean id="cryptoUtil" class="com.rishiqing.qywx.service.common.crypto.CryptoUtil" />

    <!--业务service-->
    <bean id="corpService" class="com.rishiqing.qywx.service.biz.corp.impl.CorpServiceImpl" />
    <bean id="deptService" class="com.rishiqing.qywx.service.biz.corp.impl.DeptServiceImpl" />
    <bean id="staffService" class="com.rishiqing.qywx.service.biz.corp.impl.StaffServiceImpl" />
    <bean id="tagService" class="com.rishiqing.qywx.service.biz.corp.impl.TagServiceImpl" />
    <!--日事清相关-->
    <bean id="idMapService" class="com.rishiqing.qywx.service.biz.rsq.impl.IdMapServiceImpl" />
    <bean id="rsqCorpService" class="com.rishiqing.qywx.service.biz.rsq.impl.RsqCorpServiceImpl" />
    <bean id="rsqDeptService" class="com.rishiqing.qywx.service.biz.rsq.impl.RsqDeptServiceImpl" />
    <bean id="rsqStaffService" class="com.rishiqing.qywx.service.biz.rsq.impl.RsqStaffServiceImpl" />

    <!--callback相关顶层server handler-->
    <bean id="pushCallbackHandler" class="com.rishiqing.qywx.service.callback.impl.PushCallbackHandlerImpl" />
    <bean id="fetchCallbackHandler" class="com.rishiqing.qywx.service.callback.impl.FetchCallbackHandlerImpl" />
    <bean id="logFailFetchCallbackHandler" class="com.rishiqing.qywx.service.callback.impl.LogFailFetchCallbackHandlerImpl" />
    <bean id="logFailPushCallbackHandler" class="com.rishiqing.qywx.service.callback.impl.LogFailPushCallbackHandlerImpl" />
    <bean id="redoFailFetchCallbackHandler" class="com.rishiqing.qywx.service.callback.impl.RedoFailFetchCallbackHandlerImpl" />
    <bean id="redoFailPushCallbackHandler" class="com.rishiqing.qywx.service.callback.impl.RedoFailPushCallbackHandlerImpl" />

    <!--记录异步过程中发生的错误-->
    <bean id="callbackFailService" class="com.rishiqing.qywx.service.common.fail.impl.CallbackFailServiceImpl" />

    <!--工具类-->
    <!--默认的httpClient-->
    <bean id="defaultRestHttpClient" class="com.rishiqing.common.util.http.client.impl.DefaultRestHttpClient" />
    <!--自动进行suiteCheck的httpClient-->
    <bean id="suiteCheckRestHttpClient" class="com.rishiqing.qywx.service.util.http.client.impl.SuiteCheckRestHttpClient" />
    <!--自动进行isv的provider access token check的httpClient-->
    <bean id="providerCheckRestHttpClient" class="com.rishiqing.qywx.service.util.http.client.impl.ProviderCheckRestHttpClient" />

    <!--isv相关的http请求工具-->
    <bean id="httpUtil" class="com.rishiqing.qywx.service.util.http.HttpUtil">
        <constructor-arg ref="suiteCheckRestHttpClient" />
    </bean>
    <!--公司及通讯录相关的http请求工具-->
    <bean id="httpUtilCorp" class="com.rishiqing.qywx.service.util.http.HttpUtilCorp">
        <constructor-arg ref="suiteCheckRestHttpClient" />
    </bean>
    <!--授权认证相关的http请求工具-->
    <bean id="httpUtilAuth" class="com.rishiqing.qywx.service.util.http.HttpUtilAuth">
        <constructor-arg ref="suiteCheckRestHttpClient" />
    </bean>
    <bean id="httpUtilIsv" class="com.rishiqing.qywx.service.util.http.HttpUtilIsv">
        <constructor-arg ref="providerCheckRestHttpClient" />
    </bean>
    <!--日事清相关的请求-->
    <bean id="httpUtilRsqSync" class="com.rishiqing.common.util.http.impl.HttpUtilRsqSyncImpl">
        <constructor-arg index="0" value="${isv.rsq.url.root}"/>
        <constructor-arg index="1" ref="defaultRestHttpClient"/>
    </bean>

    <!--==========================eventBus相关==============================-->
    <!--AsyncEventBus-->
    <bean id="eventBusService" class="com.rishiqing.qywx.service.event.service.impl.EventBusServiceImpl"/>
    <bean id="asyncFetchCorpAllExecutorFactory" class="com.rishiqing.qywx.service.event.executor.AsyncFetchCorpAllExecutorFactory" />
    <bean id="asyncFetchCorpAllExecutor" factory-bean="asyncFetchCorpAllExecutorFactory" factory-method="getFetchCorpAllExecutor" />
    <bean id="asyncFetchCorpAllEventBus" class="com.google.common.eventbus.AsyncEventBus">
        <constructor-arg ref="asyncFetchCorpAllExecutor" />
    </bean>
    <bean id="fetchCorpAllListener" class="com.rishiqing.qywx.service.event.listener.FetchCorpAllListener" />

    <bean id="eventBusInitService" class="com.rishiqing.qywx.service.event.service.impl.EventBusInitServiceImpl"
          init-method="register">
        <property name="eventMap">
            <map>
                <entry key-ref="asyncFetchCorpAllEventBus" value-ref="fetchCorpAllListener" />
                <!--<entry key-ref="demoEventBus" value-ref="demoListener" />-->
            </map>
        </property>
    </bean>
</beans>