<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="suiteManageService" class="com.rishiqing.qywx.service.biz.isv.impl.SuiteManageServiceImpl" />
    <bean id="suiteTicketManageService" class="com.rishiqing.qywx.service.biz.isv.impl.SuiteTicketManageServiceImpl" />
    <bean id="suiteTokenManageService" class="com.rishiqing.qywx.service.biz.isv.impl.SuiteTokenManageServiceImpl" />
    <bean id="appManageService" class="com.rishiqing.qywx.service.biz.isv.impl.AppManageServiceImpl" />
    <bean id="corpManageService" class="com.rishiqing.qywx.service.biz.corp.impl.CorpManageServiceImpl" />
    <bean id="corpSuiteManageService" class="com.rishiqing.qywx.service.biz.corp.impl.CorpSuiteManageServiceImpl" />
    <bean id="corpAppManageService" class="com.rishiqing.qywx.service.biz.corp.impl.CorpAppManageServiceImpl" />
    <bean id="corpTokenManageService" class="com.rishiqing.qywx.service.biz.corp.impl.CorpTokenManageServiceImpl" />
    <bean id="demoService" class="com.rishiqing.qywx.service.biz.isv.impl.DemoServiceImpl" />


    <!--AsyncEventBus-->
    <bean id="asyncFetchDeptExecutorFactory" class="com.rishiqing.qywx.service.event.executor.AsyncFetchDeptExecutorFactory" />
    <bean id="asyncFetchDeptExecutor" factory-bean="asyncFetchDeptExecutorFactory" factory-method="getFetchDeptExecutor" />
    <bean id="asyncFetchDeptEventBus" class="com.google.common.eventbus.AsyncEventBus">
        <constructor-arg ref="asyncFetchDeptExecutor" />
    </bean>
    <bean id="fetchDeptListener" class="com.rishiqing.qywx.service.event.listener.FetchDeptListener" />

    <bean id="eventBusInitService" class="com.rishiqing.qywx.service.event.EventBusInitServiceImpl"
          init-method="register">
        <property name="eventMap">
            <map>
                <entry key-ref="asyncFetchDeptEventBus" value-ref="fetchDeptListener" />
            </map>
        </property>
    </bean>
</beans>