<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://activemq.apache.org/schema/core
       http://activemq.apache.org/schema/core/activemq-core.xsd">

    <!--activemq-->
    <amq:connectionFactory id="amqConnectionFactory"
                           brokerURL="failover:(tcp://${amq.broker.url1},tcp://${amq.broker.url2})?randomize=false&amp;jms.useAsyncSend=true"
                           userName="${amq.username}"
                           password="${amq.password}" />
    <bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <constructor-arg ref="amqConnectionFactory" />
        <property name="sessionCacheSize" value="100" />
    </bean>

    <!--获取企业-->
    <amq:queue id="pullOrgInfoQueue" physicalName="pullOrgInfo.queue" />
</beans>