<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rishiqing.qywx.dao.mapper.corp.CorpTokenDao">
    <resultMap id="corpTokenMap" type="com.rishiqing.qywx.dao.model.corp.CorpTokenDO">
        <id property="id" column="id" />
        <result property="dateCreated" column="date_created" />
        <result property="lastUpdated" column="last_updated" />
        <result property="corpId" column="corp_id" />
        <result property="suiteKey" column="suite_key" />
        <result property="corpToken" column="corp_token" />
        <result property="expiresIn" column="expires_in" />
    </resultMap>

    <sql id="selectAllFields">
        id, date_created, last_updated, corp_id, suite_key, corp_token, expires_in
    </sql>

    <select id="getCorpTokenBySuiteKeyAndCorpId" resultMap="corpTokenMap">
        SELECT <include refid="selectAllFields" /> FROM isv_corp_token
        <![CDATA[
            WHERE corp_id = #{corpId} and suite_key = #{suiteKey}
        ]]>
    </select>

    <insert id="saveOrUpdateCorpToken" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO isv_corp_token (
            date_created,
            last_updated,
            corp_id,
            suite_key,
            corp_token,
            expires_in
        ) VALUES (
            now(),
            now(),
            #{corpId},
            #{suiteKey},
            #{corpToken},
            #{expiresIn}
        ) ON DUPLICATE KEY UPDATE
            last_updated = now(),
            corp_token = #{corpToken},
            expires_in = #{expiresIn}
    </insert>

    <delete id="removeCorpTokenBySuiteKeyAndCorpId">
        DELETE FROM isv_corp_token WHERE suite_key = #{suiteKey} AND corp_id = #{corpId}
    </delete>
</mapper>