<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rishiqing.qywx.dao.mapper.corp.CorpChargeStatusDao">

    <resultMap type="com.rishiqing.qywx.dao.model.corp.CorpChargeStatusDO" id="corpChargeStatusMap">
        <id property="id" column="id" />
        <result property="dateCreated" column="date_created" />
        <result property="lastUpdated" column="last_updated" />
        <result property="suiteKey" column="suite_key" />
        <result property="corpId" column="corp_id" />
        <result property="totalQuantity" column="total_quantity" />
        <result property="currentOrderId" column="current_order_id" />
        <result property="currentGoodsCode" column="current_goods_code" />
        <result property="currentItemCode" column="current_item_code" />
        <result property="currentSubQuantity" column="current_sub_quantity" />
        <result property="currentMaxOfPeople" column="current_max_of_people" />
        <result property="currentMinOfPeople" column="current_min_of_people" />
        <result property="currentServiceStopTime" column="current_service_stop_time" />
        <result property="status" column="status" />
    </resultMap>

    <sql id="select-all-fields">
        id,
        date_created,
        last_updated,
        suite_key,
        corp_id,
        total_quantity,
        current_order_id,
        current_goods_code,
        current_item_code,
        current_sub_quantity,
        current_max_of_people,
        current_min_of_people,
        current_service_stop_time
    </sql>

    <insert id="saveOrUpdateCorpChargeStatus" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO isv_corp_charge_status (
        date_created,
        last_updated,
        suite_key,
        corp_id,
        total_quantity,
        current_order_id,
        current_goods_code,
        current_item_code,
        current_sub_quantity,
        current_max_of_people,
        current_min_of_people,
        current_service_stop_time,
        `status`
        )VALUES(
        now(),
        now(),
        #{suiteKey},
        #{corpId},
        #{totalQuantity},
        #{currentOrderId},
        #{currentGoodsCode},
        #{currentItemCode},
        #{currentSubQuantity},
        #{currentMaxOfPeople},
        #{currentMinOfPeople},
        #{currentServiceStopTime},
        #{status}
        )ON DUPLICATE KEY UPDATE
        last_updated=now(),
        total_quantity=#{totalQuantity},
        current_order_id=#{currentOrderId},
        current_goods_code=#{currentGoodsCode},
        current_item_code=#{currentItemCode},
        current_sub_quantity=#{currentSubQuantity},
        current_max_of_people=#{currentMaxOfPeople},
        current_min_of_people=#{currentMinOfPeople},
        current_service_stop_time=#{currentServiceStopTime},
        `status`=#{status}
    </insert>

    <select id="getCorpChargeStatusByCorpId" resultMap="corpChargeStatusMap">
        SELECT <include refid="select-all-fields"/>  FROM isv_corp_charge_status
        <![CDATA[
			WHERE corp_id=#{corpId}
		 ]]>
    </select>

</mapper>