<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">
    <Properties>
        <Property name="baseDir">$${sys:user.home}/qywx/logs/</Property>
        <Property name="globalLevel">debug</Property>
    </Properties>
    <Appenders>
        <!--调试debug信息直接输出到控制台-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!--默认输出-->
        <RollingFile name="ROOT_APPENDER" fileName="${baseDir}/root.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/root-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %C{1.}.%M:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <!--回调接口的日志输出-->
        <RollingFile name="WEB_CALLBACK_APPENDER" fileName="${baseDir}/web_callback.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/web_callback-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %C{1.}.%M:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <!--js config相关的日志-->
        <RollingFile name="WEB_JS_CONFIG_APPENDER" fileName="${baseDir}/web_js_config.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/web_js_config-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %C{1.}.%M:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <!--OAUTH授权相关-->
        <RollingFile name="WEB_OAUTH_APPENDER" fileName="${baseDir}/web_oauth.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/web_oauth-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %C{1.}.%M:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <!--id映射授权相关-->
        <RollingFile name="WEB_ID_MAP_APPENDER" fileName="${baseDir}/web_id_map.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/web_id_map-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %C{1.}.%M:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <!--本地公司信息维护的日志输出-->
        <RollingFile name="WEB_DB_APPENDER" fileName="${baseDir}/web_db.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/web_db-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %C{1.}.%M:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <!--从企业微信服务器抓取信息时的listener相关的日志输出-->
        <RollingFile name="SERVICE_EVENT_FETCH_LISTENER_APPENDER" fileName="${baseDir}/service_event_fetch_listener.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/service_event_fetch_listener-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %C{1.}.%M:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <!--将信息推送到日事清服务器相关lis的日志输出-->
        <RollingFile name="SERVICE_EVENT_PUSH_LISTENER_APPENDER" fileName="${baseDir}/service_event_push_listener.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/service_event_push_listener-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %C{1.}.%M:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <!--redo auth相关的callback时的日志，例如重新激活-->
        <RollingFile name="SERVICE_JOB_AUTH_CALLBACK_APPENDER" fileName="${baseDir}/service_job_auth.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/service_job_auth-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %C{1.}.%M:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <!--redo auth相关的callback时的日志，例如重新激活-->
        <RollingFile name="SERVICE_JOB_CONTACT_CALLBACK_APPENDER" fileName="${baseDir}/service_job_contact.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/service_job_contact-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %C{1.}.%M:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <!--达到系统限制值的警告输出-->
        <RollingFile name="SYS_LIMIT_WARN_APPENDER" fileName="${baseDir}/sys_limit_warn.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/sys_limit_warn-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %C{1.}.%M:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <!--激活应用时发生错误，属于致命错误，需要重点关注-->
        <RollingFile name="SERVICE_ACTIVE_CORP_APPENDER" fileName="${baseDir}/service_active_corp.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/service_active_corp-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %C{1.}.%M:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
        <!--从日事清网站发起授权的相关logger-->
        <RollingFile name="WEB_ISV_AUTH_APPENDER" fileName="${baseDir}/web_isv_auth.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/web_isv_auth-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %C{1.}.%M:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="ROOT_APPENDER"/>
        </Root>
        <!--普通开发日志直接打印到控制台-->
        <Logger name="CONSOLE_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="WEB_CALLBACK_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="WEB_CALLBACK_APPENDER"/>
        </Logger>
        <Logger name="WEB_JS_CONFIG_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="WEB_JS_CONFIG_APPENDER"/>
        </Logger>
        <Logger name="WEB_OAUTH_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="WEB_OAUTH_APPENDER"/>
        </Logger>
        <Logger name="WEB_ID_MAP_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="WEB_ID_MAP_APPENDER"/>
        </Logger>
        <Logger name="WEB_DB_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="WEB_DB_APPENDER"/>
        </Logger>
        <Logger name="SERVICE_EVENT_FETCH_LISTENER_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="SERVICE_EVENT_FETCH_LISTENER_APPENDER"/>
        </Logger>
        <Logger name="SERVICE_EVENT_PUSH_LISTENER_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="SERVICE_EVENT_PUSH_LISTENER_APPENDER"/>
        </Logger>
        <Logger name="SERVICE_JOB_AUTH_CALLBACK_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="SERVICE_JOB_AUTH_CALLBACK_APPENDER"/>
        </Logger>
        <Logger name="SERVICE_JOB_CONTACT_CALLBACK_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="SERVICE_JOB_CONTACT_CALLBACK_APPENDER"/>
        </Logger>
        <!--系统限制日志-->
        <Logger name="SYS_LIMIT_WARN_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="SYS_LIMIT_WARN_APPENDER"/>
        </Logger>
        <!--用户激活这种重要操作的日志-->
        <Logger name="SERVICE_ACTIVE_CORP_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="SERVICE_ACTIVE_CORP_APPENDER"/>
        </Logger>
        <!--从日事清网站发起授权的相关logger-->
        <Logger name="WEB_ISV_AUTH_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="WEB_ISV_AUTH_APPENDER"/>
        </Logger>
    </Loggers>
</Configuration>