<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--配置返回的数据类型-->
    <!--<bean id="cnManager"-->
          <!--class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">-->
        <!--<property name="favorPathExtension" value="false" />-->
        <!--<property name="ignoreAcceptHeader" value="true" />-->
        <!--<property name="defaultContentType" value="application/json" />-->
    <!--</bean>-->

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter" />
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:annotation-driven />

    <!--配置需要扫描的包-->
    <context:component-scan base-package="com.rishiqing.qywx.web.controller" />

    <mvc:resources mapping="/checkpreload.html" location="/checkpreload.html" />
    <mvc:resources mapping="/jssdktest.html" location="/jssdktest.html" />
    <mvc:resources mapping="/error.html" location="/error.html" />

    <!--interceptors-->
    <!--<bean id="callbackVerifyInterceptor" class="com.rishiqing.qywx.web.interceptor.CallbackVerifyInterceptor" />-->
    <!--<bean id="callbackMessageInterceptor" class="com.rishiqing.qywx.web.interceptor.CallbackMessageInterceptor" />-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/suite/receive"/>-->
            <!--<ref bean="callbackVerifyInterceptor" />-->
        <!--</mvc:interceptor>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/suite/receive"/>-->
            <!--<ref bean="callbackMessageInterceptor" />-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->
</beans>