<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <value>file:${user.home}/qywx/qywxauth-config.properties</value>
            </list>
        </property>
    </bean>

    <util:map id="isvGlobal">
        <entry key="suiteKey" value="${isv.suite.key}" />
        <entry key="appId" value="${isv.app.id}" />
        <entry key="appMobileIndexPage" value="${isv.app.page.mobile.index}" />
        <entry key="appCookieName" value="${isv.app.page.cookie.name}" />
        <entry key="isvAuthRedirectUri" value="${isv.app.page.auth.redirect}" />
        <entry key="isvAuthRedirectUriAfter" value="${isv.app.page.auth.redirect.after}" />
    </util:map>

    <!--web层需要用到的service-->
    <bean id="callbackService" class="com.rishiqing.qywx.web.service.impl.CallbackServiceImpl" />
    <bean id="jsConfigService" class="com.rishiqing.qywx.web.service.impl.JsConfigServiceImpl" />
    <bean id="oauthService" class="com.rishiqing.qywx.web.service.impl.OauthServiceImpl" />
    <bean id="isvAuthService" class="com.rishiqing.qywx.web.service.impl.IsvAuthServiceImpl" />

    <!--service层的服务beans-->
    <import resource="classpath:spring-beans.xml" />

    <!--service层的计时任务-->
    <import resource="classpath:main/spring-quartz.xml" />

    <!--queue层-->
    <import resource="classpath:main/spring-queue.xml" />

    <!--数据库连接-->
    <import resource="classpath:spring-jdbc.xml" />

    <!--dao层dao-->
    <import resource="classpath:spring-dao.xml" />
</beans>