<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">
    <Properties>
        <Property name="baseDir">$${sys:user.home}/qywx/test/dao/logs/</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="WEB_CALLBACK_APPENDER" fileName="${baseDir}/isv_callback.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/isv_callback-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %C{1.}.%M:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="WEB_CALLBACK_LOGGER" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="WEB_CALLBACK_APPENDER"/>
        </Logger>
    </Loggers>
</Configuration>