<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rishiqing.qywx.dao.mapper.isv.AppDao">
    <resultMap id="appMap" type="com.rishiqing.qywx.dao.model.isv.AppDO">
        <id property="id" column="id" />
        <result property="dateCreated" column="date_created" />
        <result property="lastUpdated" column="last_updated" />
        <result property="appId" column="app_id" />
        <result property="suiteKey" column="suite_key" />
    </resultMap>

    <sql id="selectAllFields">
        id, date_created, last_updated, app_id, suite_key
    </sql>

    <select id="getAllApp" resultMap="appMap">
        SELECT <include refid="selectAllFields" /> FROM isv_app
    </select>
</mapper>