<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">
    <Properties>
        <Property name="globalLevel">debug</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="WEB_CALLBACK_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="SERVICE_CORP_MANAGE_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="SERVICE_CORP_TRANSFER_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="SERVICE_CORP_PUSH_RSQ_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="DEFAULT_HTTP_REQUEST_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="SERVICE_HTTP_REQUEST_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="SERVICE_EVENT_LISTENER_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="SYS_LIMIT_WARN_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="SERVICE_ACTIVE_CORP_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>