<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">
    <Properties>
        <Property name="globalLevel">debug</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="CONSOLE_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="WEB_CALLBACK_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="WEB_JS_CONFIG_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="WEB_OAUTH_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="WEB_ID_MAP_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="WEB_DB_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="SERVICE_EVENT_FETCH_LISTENER_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="SERVICE_EVENT_PUSH_LISTENER_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="SERVICE_JOB_AUTH_CALLBACK_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="SERVICE_JOB_CONTACT_CALLBACK_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <!--系统限制日志-->
        <Logger name="SYS_LIMIT_WARN_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <!--用户激活这种重要操作的日志-->
        <Logger name="SERVICE_ACTIVE_CORP_LOGGER" level="${globalLevel}" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>